ul {
  list-style: none;
}
.table {
  line-height: 20px;
  font-size: 14px;
  flex-wrap: wrap;
}
.table:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
.table span{
  display: block;
  width: 20px;
  height: 20px;
  background: #e5e5e5;
  margin: 5px 5px 0 0;
  float: left;
}
.true {
  background: orange !important;
}